<h1>Question Set A

In [1]:
#1) Write a program to find the maximum and minimum element in a tuple without using
#max() and min() functions.
# Program to find max and min in a tuple without using max() or min()

numbers = (10, 25, 3, 56, 18)

# Assume first element is both max and min
maximum = minimum = numbers[0]

for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

print("Maximum element:", maximum)
print("Minimum element:", minimum)

Maximum element: 56
Minimum element: 3

In [2]:
#2) Write a program to count the occurrence of each element in a tuple.
#Example: For tuple (1, 2, 3, 2, 1, 3, 2), output should show 1:2, 2:3, 3:2
# Program to count occurrences of each element in a tuple

t = (1, 2, 3, 2, 1, 3, 2)
freq = {}

for item in t:
    if item in freq:
        freq[item] += 1
    else:        
        freq[item] = 1

for key in freq:
    print(f"{key}:{freq[key]}")

1:2
2:3
3:2

In [3]:
#3) Write a program to convert a tuple of strings into a single string.
#Example: ("Hello", "World", "Python") should become "HelloWorldPython"
# Program to convert a tuple of strings into a single string

t = ("Hello", "World", "Python")

# Join all elements of tuple into a single string
result = "".join(t)

print("Single string:", result)

Single string: HelloWorldPython

In [4]:
#4) Write a program to find the sum of all even numbers in a tuple.
# Program to find sum of all even numbers in a tuple

t = (1, 2, 3, 4, 5, 6, 7, 8)
sum_even = 0

for num in t:
    if num % 2 == 0:
        sum_even += num

print("Sum of even numbers:", sum_even)

Sum of even numbers: 20

In [10]:
#5) Write a program to remove duplicates from a tuple (return a new tuple with unique
#elements).
# Program to remove duplicates from a tuple

t = (1, 2, 3, 2, 4, 1, 5)

# Convert to set to remove duplicates, then back to tuple
unique_tuple = tuple(set(t))

print("Tuple with unique elements:", unique_tuple)

Tuple with unique elements: (1, 2, 3, 4, 5)

<h1>Question Set B

In [11]:
#1) Find the second largest element in a tuple
t = (10, 25, 3, 56, 18)

# Remove duplicates
unique_t = tuple(set(t))

if len(unique_t) < 2:
    print("Not enough unique elements")
else:
    largest = second_largest = float('-inf')
    for num in unique_t:
        if num > largest:
            second_largest = largest
            largest = num
        elif num > second_largest:
            second_largest = num

    print("Second largest element:", second_largest)

Second largest element: 25

In [15]:
#2) Sort a tuple of tuples based on the second element
#Example: ((1, 5), (3, 2), (2, 8)) should become ((3, 2), (1, 5), (2, 8))
t = ((1, 5), (3, 2), (2, 8))

# Sort using second element
sorted_t = tuple(sorted(t, key=lambda x: x[1]))

print("Sorted tuple:", sorted_t)

Sorted tuple: ((3, 2), (1, 5), (2, 8))

In [13]:
#3) Check if all elements in a tuple are unique
t = (1, 2, 3, 4, 5)

if len(t) == len(set(t)):
    print("All elements are unique")
else:
    print("There are duplicate elements")

All elements are unique

In [14]:
#4) Swap the first and last element of a tuple
t = (10, 20, 30, 40, 50)

# Convert to list to swap
lst = list(t)
lst[0], lst[-1] = lst[-1], lst[0]

# Convert back to tuple
t_swapped = tuple(lst)
print("Tuple after swapping:", t_swapped)

Tuple after swapping: (50, 20, 30, 40, 10)

<h1>Question Set C

In [16]:
#1) Find common elements between two tuples
# Tuples
t1 = (1, 2, 3, 4, 5)
t2 = (4, 5, 6, 7)

# Find common elements using set intersection
common = tuple(set(t1) & set(t2))

print("Common elements:", common)

Common elements: (4, 5)

In [19]:
#2) Create a tuple of squares of numbers from 1 to n
#Example: If n=5, output should be (1, 4, 9, 16, 25)
n = int(input("Enter n: "))

# Tuple of squares
squares = tuple(i**2 for i in range(1, n+1))

print("Tuple of squares:", squares)

Enter n:  2

Tuple of squares: (1, 4)